@charset "utf-8";
/* CSS Document */

body {
	background: 0.3; /* opacidade */
	background-image: url("image/apple-apple-device-design-285814.jpg");
	
	backdrop-filter: blur(8px);

	background-position: right top;
	background-repeat: no-repeat;
	background-size: 1920px 1080px;
	background-attachment: fixed;
	

	margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.menu {
  overflow: hidden;
  background-color: #8B8989;
}

.menu ul {
	list-style-type: none;
}

.menu a {
  float: right;
  color: #ffffff;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.menu a:hover {
  background-color: #ddd;
  color: #000000;
}

.site-title {
	text-align: center;
	color: #E0FFFF;
}

.site-subtitle {
	text-align: center;
	color: #E0FFFF;
}